@use '../themes/defaultTheme' as *;
@use '../util/variables' as *;
@use '../util/mixins' as *;

.search-form{
    width: 90vw;
    max-width: $max-width;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 3rem;
    .form-input{
        width: 100%;
        max-width: 600px;
        border: none;
        border-bottom: 3px solid $grey-2;
        max-width: $fixed-width;
        background: transparent;
        padding: 1rem;
        color: $grey-1;
        text-transform: uppercase;
        font-size: 1rem;
        border-radius: $radius;
        letter-spacing: $spacing;
        margin-top: 1rem;
    }
}

@include tablet {
    .search-form{
        h2{
            font-size: 2.5rem;
        }
    }
}